<div style="font-size:100px;">
<%= form_tag("/photos", multipart: true) do %>
  <%= hidden_field_tag :time_name, value: @time_name %>
  <input type="file" name="image" id="image" accept="image/*" capture="camera">
  <%= submit_tag "投稿", style: "visibility:hidden;" %>
  <label class="file_mask">
    <span><!- 画像用spanタグ -></span>
    <input type="text" id="mask_file">
  </label>
<% end %>
</div>

<script type="text/javascript">
  $(function(){
    $('#image').trigger('click');
  });

  $("#mask_file").click(function(){
    $("#image").click();
  });

  $(function () {
  　$("#image").change(function () {
  　　$(this).closest("form").submit();
  　});
　});
</script>

<style type="text/css">
#image,#mask_file{
  display:none;
}
.file_mask span{
  display:block;
  background-image:url(/assets/take_image.png);
  background-position:left top;
  background-size:cover;
  position: absolute;
  top: 0;
  height:100%;
  width:100vw;
  cursor:pointer;
}
html,body{
  height:100%;
}
</style>
